*.o
*.lo
*.la
*.so
Makefile
bin/.deps/
bin/.libs/
bin/cob-config
bin/cobcrun
bin/cobcrun.o
cobc/.deps/
cobc/.libs/
config.h
config.h.in~
config.log
config.status
config/Makefile
configure~
autom4te.cache/
cobc/cobc
lib/.deps/
lib/.libs/
libcob/.deps/
libcob/.libs/
libtool
po/Makefile.in
po/POTFILES
pre-inst-env
stamp-h1
tests/atconfig
tests/atlocal
tests/run_prog_manual.sh
tests/testsuite~
